
@model AgileEnglish.Models.Entities.User
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>EnglishVoc - UserPage</title>

    <link href="~/Content/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/user_page.css" />
    <link rel="stylesheet" href="~/Content/css/fonts.css" />
    <link rel="stylesheet" href="~/Content/css/media.css" />

</head>
<body>
    <header>
        <div class="top-line">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="logo-wrap">
                            <a href="#" class="logo"><img src="~/Content/img/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="profile-info pull-right">
                            @Html.ActionLink("Выход", "Index", "Home") 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="user-info">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="~/Content/img/user_logo.png" alt="user_logo" class="pull-right">
                </div>
                <div class="col-md-9">
                    @*<div class="login">
                        <a href="#" class="name">Denis Dobulyak</a>
                    </div>*@
                    <div class="block-data">
                        <div class="row">
                            <div class="col-md-3">
                                <p class="text-muted text1">email</p>
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control" }) 
                                <span class="button-edit">
                                    <a href="#" title="Изменить"><img src="~/Content/img/button_edit.png" alt="Изменить"></a>
                                </span>
                            </div>
                            <div class="col-md-3">
                                <p class="text-muted text1">login</p>
                               @Html.TextBoxFor(x => x.Name, new { @class = "form-control" }) 
                                <span class="button-edit">
                                    <a href="#" title="Изменить"><img src="~/Content/img/button_edit.png" alt="Изменить"></a>
                                </span>
                            </div>
                            <div class="col-md-3">
                                <p class="text-muted text1">password</p>
                                @Html.PasswordFor(x => x.Password, new { @class = "form-control" }) 
                                <span class="button-edit">
                                    <a href="#" title="Изменить"><img src="~/Content/img/button_edit.png" alt="Изменить"></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="statics">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3 repeat center box-shadow">
                    <div class="col-md-4">
                        <img src="~/Content/img/words.png" alt="">
                    </div>
                    <div class="col-md-8">
                        <p class="title-box">Количество слов</p>
                        <p class="title-box size-count">@Model.Words_en.Count()</p>
                    </div>
                </div>
                <div class="col-md-3 "></div>
            </div>
        </div>
    </section>

    <section class="list-words">
        <div class="container">
            <div class="row add-word">
                <div class="col-md-8">
                    <div class="box-shadow">
                        @using (Html.BeginForm("AddWord", "UserPage", FormMethod.Post, new { @class = "form-inline" }))
                        {
                            @Html.Hidden("userId", Model._id)
                            <div class="form-group">
                                <label class="sr-only" for="word">Слово</label>
                                @Html.TextBox("addValue", "", new { @class = "form-control", placeholder = "Слово"})
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="translate">Перевод</label>
                                @Html.TextBox("addTranslation", "", new { @class = "form-control", placeholder = "Перевод" })
                            </div>
                            <input type="submit" class="btn btn-primary" value="Сохранить" />
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="search box-shadow">
                        <div class="input-group">
                            @using (Html.BeginForm("FilterWords", "UserPage", FormMethod.Get))
                            {
                                @Html.Hidden("userId", Model._id)
                                <span class="input-group-btn">
                                     @Html.TextBox("filter", "", new { @class = "form-control", placeholder = "Найти...", style="width:200px"})
                                    <input type="submit" class="btn btn-secondary" value="Поиск!" />
                                </span>
                            }
                           
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-words">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>№</th>
                                        <th>Слово</th>
                                        <th>Перевод</th>
                                        <th>Удалить/Изменить</th>
                                    </tr>
                                </thead>
                                <tbody>
                                
                                    @{
                                        if (Model.Words_en != null)
                                        {
                                            foreach (var word in Model.Words_en)
                                            {
                                                <tr>
                                                    @using (Html.BeginForm("EditWord", "UserPage", FormMethod.Post))
                                                    {
                                                        @Html.Hidden("userId", Model._id)
                                                        @Html.Hidden("wordId", word.ID)
                                                        <td>@word.ID</td>
                                                        <td>@Html.TextBox("value", word.Value, new { style = "border:none" })</td>
                                                        <td>@Html.TextBox("translation", word.Translation, new { style = "border:none" })</td>
                                                        <td>
                                                            <span class="button-edit">
                                                                <input type="image" alt="Изменить" src="~/Content/img/button_edit.png" width="25" height="25" />
                                                            </span>
                                                            <span class="button-delete">
                                                                <a href='@string.Format("http://localhost:36269/UserPage/RemoveWord?wordId={0}&userId={1}", word.ID, Model._id)'>
                                                                    <img src="~/Content/img/button_delete.png" alt="Удалить" width="25" height="25">
                                                                </a>
                                                            </span>
                                                        </td>
                                                    }
                                                    
                                                </tr>
                                             }
                                         }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Designed "DDKK" Team @@ 2016 </p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap.js"></script>
</body>
</html>