@model AgileEnglish.Models.Entities.User
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>EnglishVoc - UserPage</title>

    <link href="~/Content/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/user_page.css" />
    <link rel="stylesheet" href="~/Content/css/fonts.css" />
    <link rel="stylesheet" href="~/Content/css/media.css" />

</head>
<body>
    <header>
        <div class="top-line">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="logo-wrap">
                            <a href="#" class="logo"><img src="~/Content/img/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="profile-info pull-right">
                            @Html.ActionLink("Выход", "Index", "Home")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="user-info">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="~/Content/img/user_logo.png" alt="user_logo" class="pull-right">
                </div>
                <div class="col-md-9">
                    <div class="login"><a href="#" class="name">Denis Dobulyak</a></div>
                    <div class="block-data">
                        <div class="row">
                            <div class="col-md-3">
                                <p class="text-muted text1">email</p>
                                @Html.TextBoxFor(x => x.Email, new { @class = "text2" })
                                <span class="button-edit">
                                    <a href="#" title="Изменить"><img src="~/Content/img/button_edit.png" alt="Изменить"></a>
                                </span>
                            </div>
                            <div class="col-md-3">
                                <p class="text-muted text1">login</p>
                                @Html.TextBoxFor(x => x.Name, new { @class = "text2" })
                                <span class="button-edit">
                                    <a href="#" title="Изменить"><img src="~/Content/img/button_edit.png" alt="Изменить"></a>
                                </span>
                            </div>
                            <div class="col-md-3">
                                <p class="text-muted text1">password</p>
                                @Html.PasswordFor(x => x.Password, new { @class = "text2" })
                                <span class="button-edit">
                                    <a href="#" title="Изменить"><img src="~/Content/img/button_edit.png" alt="Изменить"></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="statics">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-3 words center box-shadow">
                    <div class="col-md-4">
                        <img src="~/Content/img/words.png" alt="">
                    </div>
                    <div class="col-md-8">
                        <p class="title-box">Количество слов</p>
                        <p class="title-box size-count">@Model.Words_en.Count()</p>
                    </div>
                </div>
                <div class="col-md-3 repeat center box-shadow">
                    <div class="col-md-4">
                        <img src="~/Content/img/repeat.png" alt="">
                    </div>
                    <div class="col-md-8">
                        <p class="title-box1">Необходимо повторить слов</p>
                        <p class="title-box size-count">40</p>
                    </div>
                </div>
                <div class="col-md-3 view-statics center box-shadow">
                    <div class="col-md-4">
                        <img src="~/Content/img/statics.png" alt="">
                    </div>
                    <div class="col-md-8">
                        <p class="title-box"><a href="#">Пройти<br>тестирование</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="list-words">
        <div class="container">
            <div class="row add-word">
                <div class="col-md-8">
                    <div class="box-shadow">
                        <form class="form-inline">
                            <div class="form-group">
                                <label class="sr-only" for="word">Слово</label>
                                <input type="text" class="form-control" id="word" placeholder="Слово">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="translate">Перевод</label>
                                <input type="text" class="form-control" id="translate" placeholder="Перевод">
                            </div>
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="search box-shadow">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Найти...">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button">Поиск!</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-words">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>№</th>
                                        <th>Слово</th>
                                        <th>Перевод</th>
                                        <th>Удалить/Изменить</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if(Model.Words_en != null)
                                        {
                                            foreach (var word in Model.Words_en)
                                            {
                                            <tr>
                                                <td>@word.ID</td>
                                                <td>@word.Value</td>
                                                <td>@word.Translation</td>
                                                <td>
                                                    <span class="button-edit">
                                                        <a href="#" title="Изменить"><img src="~/Content/img/button_edit.png" alt="Изменить"></a>
                                                    </span>
                                                    <span class="button-delete">
                                                        <a href="#" title="Удалить"><img src="~/Content/img/button_delete.png" alt="Удалить"></a>
                                                    </span>
                                                </td>
                                            </tr>
                                            }    
                                        }
                                    }
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Designed "DDKK" Team @@ 2016 </p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap.js"></script>
</body>
</html>